.idea/
.turbo
.typedoc
.vscode/mcp.json
*.swp
**/.turbo
**/custom-route-generator/routes/*
codealike.json
coverage/
customRoutes.ts
dist
distForNoAdditional
node_modules
routes.ts
site/guide-docs/.vitepress/cache
site/guide-docs/.vitepress/.temp
site/guide-docs/.vitepress/dist
site/guide-docs/reference
scripts/.cache
tsconfig.tsbuildinfo
