dist
distForNoAdditional
node_modules
routes.ts
customRoutes.ts
**/custom-route-generator/routes/*
.idea/
*.swp
tsconfig.tsbuildinfo
.typedoc
codealike.json
.turbo
**/.turbo
site/guide-docs/.vitepress/.temp
site/guide-docs/.vitepress/dist
coverage/
.vscode/mcp.json
